body{
display: flex;
flex-direction: column-reverse;
line-height: 1.5;

}

header{
display: flex;
align-items: flex-end;
padding: auto;
background-color: blue;
color: aliceblue;

main{
display: flex: ;
flex-wrap: wrap;


}

}

footer
padding: 20px
background-color::black;
color: white;

h3 {



}
